<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'restful_users/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'restful_users/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'restful_users/style-new.css' %}">
        <title>Users</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Add a new user</h1>
            <form action="/users/create/" method="post">
                {% csrf_token %}
                <p>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                </p>
                <p>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                </p>
                    <input type="submit" value="Create">
            </form>
            <a href="/users">Go Back</a>
        </div>
    </body>
</html>